# Ignorar todos os __pycache__ recursivamente
**/__pycache__/
**/*.py[cod]
# Ignorar arquivos Python compilados
*.pyc
*.pyo
*.pyd
# Ignorar qualquer arquivo .env em qualquer pasta
**/*.env
# Ignorar arquivos temporários do VS Code
.vscode/
# Ignorar arquivos de log
*.log
# Ignorar pastas de build/instalação
build/
dist/
*.egg-info/